extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage Check the url you are trying to access 
    else    
        script.
            const profileUserId = '!{profileUser._id}';
            const selectedTab = '!{selectedTab}'; // payload 객체 프로퍼티
            // payload selectedTab 프로퍼티에 담아 Tab이 선택된 것인지 아닌것인지를 판별하기 위해
        
        - followersCount = profileUser.followers.length
        - followingCount = profileUser.following.length

        .profileHeaderContainer 
            .coverPhotoContainer 
                
                .userImageContainer 
                    img(src=profileUser.profilePic, alt="User profile image")

                    if profileUser._id == userLoggedIn._id
                        button.profilePictureButton(data-bs-toggle="modal" data-bs-target="#imageUploadModal")
                            i.fas.fa-camera

            .profileButtonsContainer 
                if profileUser._id != userLoggedIn._id 
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope
                    
                    //- pug 내에서 자바스크립트 언어를 사용하기 위해 '- if()'형태로 작성
                    - const profileUserId = profileUser._id.toString()
                    - if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else
                        +createFollowButton(profileUser, false)
            .userDetailsContainer
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.username @#{profileUser.username}
                span.descripiton #{profileUser.description}

                .followersContainer 
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value #{followersCount}
                        span Followers
        .tabsContainer 
            +createTab("Posts", `/profile/${profileUser.username}`, selectedTab !== 'replies')
            +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab === 'replies')


        .postsContainer

        +createPostModals(userLoggedIn)
        +createImageUploadModal()

block scripts

    script(src="/js/profile.js")